MANIFEST.bak
MYMETA.json
MYMETA.yml
Makefile
SaleaeDeviceApi.h
SaleaeLogic.bs
SaleaeLogic.c
SaleaeLogic.o
_installer/
blib/
libSaleaeDevice.*
pm_to_blib
saleaeinterface.o
saleaesdk.zip
*.bak
*.old
*.bso
